.UserPFormGroup {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserPFormGroup input[type="date"] {
  width:13rem;
}

.App {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  background-color:#F7F7F7;
}
.right {
  margin-left: 20px;
}