nav ul{  
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#F7F7F7;  
  height:100px;
  list-style-type: none;
  margin:0;
  padding:0;
}

nav a {
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  min-width:200px;
  margin: 20px;
  font-size: 50px;
  text-decoration: none;
  color:black;
}

nav a:hover {
color: #414042;
}

.UserPFormGroup {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserPFormGroup input[type="date"] {
  width:13rem;
}

.UserPFormGroupInput {
  align-items: left;
  min-width:250px;
}